<!DOCTYPE html>
<html>
<head>
  <title>Undevise</title>
  <%= stylesheet_link_tag    "undevise/application", :media => "all" %>
  <%= javascript_include_tag "undevise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
